<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InventDipl.Properties.Settings.DBInventConnectionString"
            connectionString="Data Source=213.155.192.79,3002;Initial Catalog=DBInvent;User ID=u21obolen;Password=s8kd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>